.cart-container{
    width: 1150px;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-rows: 30px auto;
    row-gap: 15px;
    margin-top: 130px;
    padding: 12px 10px 10px 10px;
}
.cart-check-out-head{
    font-size: 1.35em;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.products-check-out{
    display: grid;
    grid-template-columns: 1fr 340px;
    column-gap: 10px;
}
.summarized-cart-products{
    display: grid;
    grid-template-rows: auto;
    row-gap: 8px;
}
.cart-product{
    height: 260px;
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-rows: 30px 1fr;
    border: 1px solid grey;
    border-radius: 8px;
}
.product-delivery-date{
    display: flex;
    align-items: center;
    color: green;
    font-size: 1.2em;
    font-weight: 700;
}
.items-to-be-delivered{
    display: grid;
    grid-template-columns: 150px 300px 1fr;
    column-gap: 10px;
}
.item-image{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image{
    width: 130px;
    height: 130px;
}
.item-description{
    display: grid;
    grid-template-rows: 50px 30px 30px;
    padding: 10px 10px 10px 10px;
    height: 180px;
}
.product-title{
    font-weight: 700;
}
.product-price{
    color: rgb(96, 8, 8);
    font-weight: 600;
}
.product-quantity{
    display: flex;
    width: 195px;
    justify-content: space-between;
}
.product-quantity a{
    text-decoration: none;
    color: rgb(24, 216, 254);
}
.delivery-option{
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-rows:  20px repeat(3, 1fr);
    gap: 2px;
    
}
.delivery-option-title{
    font-weight: 600;
    font-size: 1.0em;
}
.delivery-day{
    padding: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: 1fr 230px;
}
.radio-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shipping-day{
    display: grid;
    grid-template-rows: auto;
}
.span-1{
    color: green;
}
.span-2{
    color: grey;
}

.products-total-price{
    height: 280px;
    border: 1px solid grey;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 25px auto;
    padding: 15px 15px 15px 15px;
    row-gap: 5px;
}
.total-price-header{
    font-size: 1.15em;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.products-calculation{
    display: grid;
    grid-template-rows: auto;
    row-gap: 2px;
}
.sub-products-calculation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sub-products-calculation{
    border-bottom: 1px solid grey;
}
.total-product-order{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total-product-order span{
    color: rgb(186, 34, 34);
    font-size: 1.15em;
    font-weight: 700;
}
/*.button-container{
}*/
.button-container button{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(231, 213, 48);
    border-radius: 8px;
}

